@import 'styles/styles.scss';

$border-color: $secondary;

.filter-checkbox-list {
	display: flex;
	flex-direction: column;
	background-color: $secondary;
	border: $border-width solid $border-color;
	border-radius: 5px;
	padding: 0.1rem;
	gap: 0.15rem;
	overflow-y: auto;
	max-height: 400px;

	.filter-checkbox-list-title {
		font-size: large;
		font-weight: 600;
		margin: 0 0 0.1rem 0.15rem;
		color: $text;
	}
}