@import 'styles/styles.scss';

$label-color: $text;
$title-color: $text;

.card {
    border-radius: 25px;
    box-shadow: $box-shadow-medium;
    padding: 10px 15px;
}

.maintenance-details-page {
	display: flex;
	flex-direction: column;
    width: 100%;

    .maintenance-details-header {
        margin: 10px;
        padding-left: 10px;
        border-radius: 25px;
        box-shadow: $box-shadow-medium;
    }
    
    .maintenance-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 85vh;
        overflow-y: auto;
        padding: 10px;
    
        .maintenance-submit-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    
    
    
}

