@import 'styles/styles.scss';

.details-page {
	display: flex;
	flex-direction: column;

    .details-header {
        margin: 10px;
        padding-left: 10px;
        border-radius: 25px;
        box-shadow: $box-shadow-light;
    }
    
    .details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 85vh;
        overflow-y: auto;
        padding: 10px;
        
        .submit-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
        }
    }
    
}

