.button {
    border: 2px solid var(--background);
    padding: 8px 16px;
    border-radius: 100px;
    background-color: var(--background);
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: var(--text);
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    border: 2px solid var(--background);
    background-color: var(--text);
    color: var(--background);
    cursor: pointer;
}

.button:disabled {
    border: 2px solid var(--text);
    background-color: var(--text);
    color: #2C3E5077;
    cursor: auto;
}

.button.small {
    font-size: 12px;
    padding: 4px 8px;
    font-weight: 800;
}

.button.outline {
    border: 2px solid var(--background);
    background-color: var(--text);
    color: var(--background);
}

.button.outline:hover {
    border: 2px solid var(--background);
    background-color: var(--background);
    color: var(--text);
}