@import 'styles/styles.scss';


$border-width: $border-width;

$button-color: $text;
$button-background-color: $background;
$button-border-color: $text;

$button-color: $background;
$button-background-color: $primary;
$button-border-color: $primary;

$button-disabled-background-color: lighten($button-background-color, 35%);
$button-disabled-color: $button-color;
$button-disabled-border-color: lighten($button-background-color, 35%);

$button-hover-color: $button-background-color;
$button-hover-background-color: $button-color;

$button-outline-color: $button-background-color;
$button-outline-background-color: $button-color;
$button-outline-border-color: $button-background-color;

$button-outline-hover-color: $button-color;
$button-outline-hover-background-color: $button-background-color;

.button {
    border: $border-width solid $button-border-color;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: $button-background-color;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: $button-color;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        border: $border-width solid $button-border-color;
        background-color: $button-hover-background-color;
        color: $button-hover-color;
        cursor: pointer;
    }

    &:disabled {
        border: $border-width solid $button-disabled-border-color;
        background-color: $button-disabled-background-color;
        color: $button-disabled-color;
        cursor: auto;
    }

    &.small {
        font-size: 12px;
        padding: 4px 8px;
        font-weight: 800;
    }

    &.outline {
        border: $border-width solid $button-outline-border-color;
        background-color: $button-outline-background-color;
        color: $button-outline-color;

        &:hover {
            background-color: $button-outline-hover-background-color;
            color: $button-outline-hover-color;
        }
    }

}