@import 'styles/styles.scss';

$label-color: $text;
$title-color: $text;

$form-column-border-color: $medium-gray;

.form-wrapper {
    width: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px;
    padding: 10px;
    border-radius: 35px;
    box-shadow: $box-shadow-medium;
    min-width: 60vw;

    .form-header {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 5px 20px;
        border-radius: 35px;

        h4,
        h2 {
            margin: 0px;
            color: $title-color;
        }
        h4 {
            font-style: italic;
        }
    }
    
    .new-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 100%;
        overflow-y: auto;
        
        .form {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 0px 15px;
            border-radius: 35px;
            
            .form-row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 10px;
                
                .form-column {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    padding: 10px;
                    border-radius: 20px;
                    border: $border-width solid $form-column-border-color;

                    label {
                        font-size: 1.15em;
                        font-weight: 700;
                        color: $title-color;
                        padding: 3px 4px;
                        height: 50%;
                    }

                    .form-input {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .input {
                            font-size: medium;
                        }
                    }
                    
                }
            }

            @media screen and (max-width: 850px) {
                .form-row {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px
                }
            }
            
            .submit-button-container {
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: end;
            }
        } 
    }
}