@import 'styles/styles.scss';

$title-color: $text;
$sheet-spare-part-section-background-color: $background;
$border-color: $text;
$disabled-button-color: rgba(0, 0, 0, 0.35);


.sheet-details-page {
	display: flex;
	flex-direction: column;
	width: 100%;

    .sheet-details-header {
        margin: 10px;
        border-radius: 10px;

        .title-header {
            padding: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .title-back-button {
                display: flex;
                align-items: center;
                gap: 6px;
                flex-wrap: wrap;

                h3 {
                    font-weight: bolder;
                    color: $title-color;
                    font-size: xx-large;
                    margin: 0px;
                }

                i {
                    color: $title-color;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .button-selector {
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;

                .frequency-selector {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    border-radius: 5px;
                    justify-content: center;
                    align-items: stretch;
                    border: $border-width solid $border-color;
                    gap: 5px;
                    box-sizing: border-box;
    
                    .left-button,
                    .right-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 25px;
                    }
    
                    .left-button {
                        border-right: $border-width solid $border-color;
                        color: $text;
                        
                        &:hover {
                            cursor: pointer;
                        }
                    }
    
                    .indicator-span {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 3px 0 3px 0;
    
                        span {
                            color: $text;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
    
                    .right-button {
                        border-left: $border-width solid $border-color;
                        color: $text;
    
                        &:hover {
                            cursor: pointer;
                        }
    
                    }
    
                    .disabled {
                        color: $disabled-button-color;
    
                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
            

        }
    }
    
    .sheet-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 85vh;
        overflow-y: auto;
        padding: 10px;
        
        /*** Sheet Spare Part Section ***/
        
        .sheet-spare-part-section {
            display: flex;
            flex-direction: column;
            gap: 6px;
            border-radius: 25px;
            box-shadow: $box-shadow-medium;
            background-color: $sheet-spare-part-section-background-color;
            padding: 10px 15px;

            h4 { 
                font-size: 1.4em;
                margin: 0;
                color: $title-color;
            }
            h5 { 
                font-size: 1.2em;
                font-style: italic;
                margin: 0;
                padding-left: 4px;
                color: $title-color;
            }

            .sheet-spare-part-section-title:hover {
                cursor: pointer;
            }

            .sheet-spare-part-section-subsections {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .table-card {
                    padding: 0;
                    gap: 0;
                }

                &.show {
                    transform: scaleY(1);
                    transform-origin: top;
                    opacity: 1;
                    max-height: 100%;
                    transition: transform 0.1s ease-in;
                }

                &.hide {
                    transform: scaleY(0);
                    opacity: 0;
                    max-height: 0;
                    transition: transform 0.1s ease-in;
                }
            }
        }
        
    }
    
}

