@import 'styles/styles.scss';

$title-color: $text;

.existing-sheet-selection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: $box-shadow-medium;

    .existing-sheet-selection-title {
        margin: 0;
        color: $title-color;
    }

    .existing-sheet-selection-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        Select {
            min-width: 60%;
            font-size: 0.9em;
        }
    }

    @media screen and (max-width: 800px) {
        .existing-sheet-selection-buttons {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
    
            Select {
                width: 100%;
            }
        }
    }
    
}
