.existing-sheet-selection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.existing-sheet-selection-title {
    margin: 0;
    color: var(--background);
}

.existing-sheet-selection Select {
    font-size: 0.9em;
}