// $background: #2C3E50;
// $text: #F1F1F1;
// $background: #F1F1F1;
// $text: #2C3E50;
// $primary: #8faed1;
// $secondary: #0277BD;
// $accent: #0097A7;
// $error: #FF5252;

$steel-blue-50: #f5f7fa;
$steel-blue-100: #e9eef5;
$steel-blue-200: #cedbe9;
$steel-blue-300: #a3bcd6;
$steel-blue-400: #729abe;
$steel-blue-500: #5885af;
$steel-blue-600: #3d638c;
$steel-blue-700: #335071;
$steel-blue-800: #2d455f;
$steel-blue-900: #2a3b50;
$steel-blue-950: #1c2735;

$background: #F1F1F1;
$text: #0C4160;
$primary: #5885AF;
$secondary: #BFD7ED;
$accent: #145DA0;
$error: #FF5252;

// $background: $steel-blue-100;
// $text: $steel-blue-900;
// $primary: $steel-blue-500;
// $secondary: $steel-blue-300;
// $accent: $steel-blue-700;
// $error: #FF5252;

$outlines: #4F5467;

$light-gray: rgba(0, 0, 0, 0.10);
$medium-gray: rgba(0, 0, 0, 0.25);
$dark-gray: rgba(0, 0, 0, 0.35);

$table-min-width: 25vh; 


$border-width: 2px;

$box-shadow-dark: 0 0 20px rgba(0, 0, 0, 0.35);
$box-shadow-medium: 0 0 20px rgba(0, 0, 0, 0.25);
$box-shadow-light: 0 0 20px rgba(0, 0, 0, 0.15);