// $background: #2C3E50;
// $text: #F1F1F1;
$background: #F1F1F1;
$text: #2C3E50;
$primary: #1565C0;
$secondary: #0277BD;
$accent: #0097A7;
$error: #FF5252;

$outlines: #4F5467;

$light-gray: rgba(0, 0, 0, 0.10);
$medium-gray: rgba(0, 0, 0, 0.25);
$dark-gray: rgba(0, 0, 0, 0.35);

$table-min-width: 25vh; 


$border-width: 2px;

$box-shadow-dark: 0 0 20px rgba(0, 0, 0, 0.35);
$box-shadow-medium: 0 0 20px rgba(0, 0, 0, 0.25);
$box-shadow-light: 0 0 20px rgba(0, 0, 0, 0.15);