@import 'styles/styles.scss';

.details-page {
    display: flex;
    flex-direction: column;
    width: 100%;

    .details-header {
        margin: 10px;
        padding-left: 10px;
        border-radius: 25px;
        box-shadow: $box-shadow-medium;
    }
    
    .details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 85vh;
        overflow-y: scroll;
        padding: 10px;

        .site-details {
            border-radius: 25px;
            box-shadow: $box-shadow-medium;
            
            .basic-details {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 0px;

                .table-card {
					width: 100%;
				}
            }

            .details-table {
                width: 50%;
                flex: 1;

                .table-card {
                    width: 100%;
                }
            }

            .other-details {
                width: 100%;
            }
        }

        .equipments-table-container {
			display: flex;
			flex-direction: column;
			padding: 15px;
			border-radius: 35px;
			box-shadow: $box-shadow-medium;

			.equipments-table-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0px 10px;
				padding-bottom: 10px;

				h4 {
					font-weight: bolder;
					color: $text;
					font-size: 1.5em;
					margin: 0px;
				}
			}
		}
        
    }

}

.handle-equipments-modal-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 6px;

    h4 {
        font-weight: bolder;
        color: $text;
        font-size: 1.5em;
        margin: 0px;
        margin: 5px;
    }

}

@media screen and (max-width: 1200px) {

    .basic-details {
        width: 100%;
        flex-wrap: wrap;
    }

    .other-details {
        width: 100%;
    }
}