@import 'styles/styles.scss';

$border-radius: 7px;

$border-color: $outlines;
$border-focus-color: $accent;

$icon-color: $text;
$icon-background-color: $background;
$icon-hover-background-color: $text;
$icon-hover-color: $background;

$date-icon-border-color: $text;
$date-border-radius: 7px;

.use-hours-list-wrapper {
    width: 100%;
    background-color: $background;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px;
    padding: 10px;
    border-radius: 35px;
    // box-shadow: $box-shadow-color;
    min-width: 60vw;
    
    .use-hours-page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
		gap: 6px;

		.date-wrapper {
            display: flex;
            flex-direction: row;
        }
        
        .date-icon {
            border-right: $border-width solid $date-icon-border-color;
            border-top-right-radius: $date-border-radius;
            border-bottom-right-radius: $date-border-radius;
        }
    }
}

.use-hours-container {
	display: flex;
	margin: 0px 5px;
	align-items: stretch;
	justify-content: center;

	.hours-wrapper {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}
}

.date-input-container {
	border: $border-width solid $border-color;
	flex: 1;
	display: flex;
	align-items: stretch;
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;

	.date-input {
		border: none;
		font-size: medium;
		text-align: center;
		width: 100%;
		border-radius: 0;
		cursor: pointer;
		transition: all 0.3s;

		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;

		&:focus {
			outline: none;
			border: 0;
		}
	}

	> div,
	> div > div {
		display: flex;
		align-items: stretch;
	}

	&:focus-within {
		border: $border-width solid $border-focus-color;
	}
}

.date-icon,
.plus-icon {
	min-width: 6%;
	max-width: 7%;
	background-color: $icon-background-color;
	border: $border-width solid $border-color;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	aspect-ratio: 1;
	border-left: 0px;
	font-size: larger;

	i {
		color: $icon-color;
	}
}
.date-icon {
	border-right: 0px;
}
.plus-icon {
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;

	&:hover {
		cursor: pointer;
		background-color: $icon-hover-background-color;
		
		i {
			color: $icon-hover-color;
		}
	}
}

.hours-input-container {
	max-width: 10%;
	border: $border-width solid $border-color;
	flex: 1;
	display: flex;
	align-items: stretch;

	&:focus-within {
		border: $border-width solid $border-focus-color;
	}

	.hours-input {
		border: none;
		font-size: medium;
		text-align: center;
		border-radius: 0;
		transition: all 0.3s;
		width: 100%;

		&:focus {
			outline: none;
			border: 0;
		}
	}
}
