$table-bg-color: #f5f5f5;

.use-hours-container {
	display: flex;
	margin: 0px 5px;
	align-items: stretch;

	.hours-wrapper {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;

		
	}
}

.date-input-container {
	border: 2px solid var(--outlines);
	flex: 1;
	display: flex;
	align-items: stretch;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;

	.date-input {
		border: none;
		// background-color: $table-bg-color;
		font-size: medium;
		text-align: center;
		width: 100%;
		// padding: 6px 10px;
		border-radius: 0;
		cursor: pointer;
		transition: all 0.3s;

		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;

		&:focus {
			outline: none;
			border: 0;
		}
	}

	> div,
	> div > div {
		display: flex;
		align-items: stretch;
	}

	&:focus-within {
		border: 2px solid var(--accent);
	}
}

.date-icon,
.plus-icon {
	min-width: 6%;
	max-width: 7%;
	background-color: #f6fafe;
	border: 2px solid var(--outlines);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	aspect-ratio: 1;
	border-left: 0px;
	font-size: larger;

	i {
		color: var(--background);
	}
}
.date-icon {
	border-right: 0px;
}
.plus-icon {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;

	&:hover {
		cursor: pointer;
		background-color: var(--background);
	}

	&:hover i {
		color: var(--text);
	}
}

.hours-input-container {
	max-width: 10%;
	border: 2px solid var(--outlines);
	flex: 1;
	display: flex;
	align-items: stretch;

	&:focus-within {
		border: 2px solid var(--accent);
	}

	.hours-input {
		border: none;
		font-size: medium;
		text-align: center;
		border-radius: 0;
		transition: all 0.3s;
		width: 100%;

		&:focus {
			outline: none;
			border: 0;
		}
	}
}
