@import 'styles/styles.scss';

$title-color: $text;
$label-color: lighten($text, 10%);

.maintenance-frequencies {
	display: flex;
	flex-direction: column;
	gap: 6px;
	border-radius: 25px;
	box-shadow: $box-shadow-medium;
	padding: 10px 15px;

	.maintenance-frequencies-header {
		display: flex;
		flex-direction: column;

		label {
			font-size: medium;
			font-weight: 400;
			font-style: italic;
			color: $label-color;
		}

		.maintenance-frequencies-header-title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-right: 10px;

			.maintenance-frequencies-title {
				margin: 0;
				color: $title-color;
			}
		}
	}

	.maintenance-frequencies-body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 6px;

		.maintenance-frequency-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			label {
				margin: 0;
				padding: 0;
				font-size: 1em;
				color: $title-color;
			}
		}
	}
}
