@import 'styles/styles.scss';

$label-color: $text;
$title-color: $text;

$icon-border-color: $outlines;
$icon-color: $text;
$icon-background-color: lighten($background, 10%);

$input-border-color: $icon-border-color;
$input-border-focus-color: $accent;

.search-wrapper {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .icon-span {
        height: 100%;
        width: 30px;
        background-color: $icon-background-color;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: $border-width solid $icon-border-color;
        border-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        i {
            color: $icon-color;
        }
    }
    
    .input-container {
        height: 100%;
        width: 20vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: $input-border-color;
        flex: 1;
        
        .input {
            border: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &.counter {
                border-radius: 0;
            }
        }
        
        &:focus-within {
            border-color: $input-border-focus-color;
        }

        &.counter {
            border-radius: 0;
        }
    }

    .count-span-container {
        height: 100%;
        background-color: $icon-background-color;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-items: center;
        text-align: center;
        border: $border-width solid $icon-border-color;
        border-left: 0;
        border-color: $input-border-color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 2px;
        padding-right: 2px;

        .count-span {
            color: $icon-color;
            font-weight: 600;
            font-size: 1em;
        }

    }
    
}
