@import 'styles/styles.scss';

$label-color: $text;
$title-color: $text;

$date-icon-border-color: $text;
$date-border-radius: 7px;

.maintenance-configuration-container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

    .maintenance-configuration-header {
        display: flex;
        flex-direction: column;

        label {
            font-size: medium;
            font-weight: 400;
            font-style: italic;
            color: $label-color;
        }

        .maintenance-configuration-header-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 10px;

            h4 { 
                font-size: 1.4em;
                margin: 0;
                color: $title-color;
            }
        }
    }
    
    .maintenance-configuration-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-wrap: wrap;
        text-align: center;

        .column-maint {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
        }
        
        .maintenance-configuration-frequency {
            Select {
                text-align: center;
            }
        }
        
        .maintenance-configuration-time {
            Input {
                text-align: center;
            }
        }
        
        /**** MaintenanceDatePicker.css ****/
                
        .date-wrapper {
            display: flex;
            flex-direction: row;
        }
        
        .date-icon {
            border-right: $border-width solid $date-icon-border-color;
            border-top-right-radius: $date-border-radius;
            border-bottom-right-radius: $date-border-radius;
        }
    }
    
}

