.maintenance-configuration-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.maintenance-configuration-header {
    display: flex;
    flex-direction: column;
}

.maintenance-configuration-header>label {
    font-size: medium;
    font-weight: 400;
    font-style: italic;
    color: var(--background);
}

.maintenance-configuration-header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.maintenance-configuration-title {
    margin: 0;
    color: var(--background);
}

.maintenance-configuration-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.maintenance-configuration-container label {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.column-maint {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.maintenance-configuration-frequency Select {
    text-align: center;
}

.maintenance-configuration-time input {
    text-align: center;
}



/**** MaintenanceDatePicker.css ****/

.date-wrapper {
    display: flex;
    flex-direction: row;
}

.date-icon {
    border-right: 2px solid var(--background);
}