@import 'styles/styles.scss';

$table-background-color: $background;
$table-header-background-color: $primary;
$table-header-color: $background;
$cell-text-color: $text;

$table-even-row-background-color: darken($background, 3%);
$table-odd-row-background-color: lighten($background, 2%);

$table-row-hover-background-color: $secondary;
$table-row-hover-color: $text;

$single-table-header-color: $table-header-color;
$single-table-header-background-color: $table-header-background-color;//darken($background, 5%);
$single-row-hover-color: $secondary;
$single-row-hover-background-color: $secondary;
$single-table-even-row-background-color: $background;
$single-table-odd-row-background-color: $background;

$table-border-radius: 10px;

.table-card {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
	padding: 15px;
	border-radius: 35px;
	box-shadow: $box-shadow-medium;
	background-color: $table-background-color;
    box-sizing: border-box;

	&.no-card {
		padding: 0;
		box-shadow: none;
	}

	.table-wrapper {
		display: flex;
		justify-content: center;
		overflow: auto;
		box-sizing: border-box;

		.styled-table {
			border-collapse: separate;
			font-size: 0.9em;
			font-family: sans-serif;
			box-shadow: $box-shadow-light;
			border-radius: $table-border-radius;
			width: 100%;

			thead tr {
				background-color: $table-header-background-color;
				color: $table-header-color;
				text-align: left;

				.th-flex {
					position: relative;

					.icon-end {
						position: absolute;
						right: 10px;
						top: 50%; 
						transform: translateY(-50%); 

						&:hover {
							cursor: pointer;
						}
					}

					&.filterable,
					&.non-filtered {

						.filter-icon {
							visibility: hidden;
						}

						&:hover {
							cursor: pointer;

							.filter-icon {
								visibility: visible;
							}
						}
					}

					&.filtered {
						.filter-icon {
							visibility: visible;
						}
					}

					&.non-filterable {
						.filter-icon {
							display: none;
						}

						&:hover {
							cursor: default;
						}
					}
				}
			}

			th {
				&:first-of-type {
					border-top-left-radius: $table-border-radius;
				}

				&:last-of-type {
					border-top-right-radius: $table-border-radius;
				}
			}

			tr {
				&:last-of-type td:first-of-type {
					border-bottom-left-radius: $table-border-radius;
				}

				&:last-of-type td:last-of-type {
					border-bottom-right-radius: $table-border-radius;
				}
			}

			th,
			td {
				padding: 10px 15px;
			}

			tbody {

				tr {
					&:nth-of-type(even) {
						background-color: $table-even-row-background-color;
					}
					&:nth-of-type(odd) {
						background-color: $table-odd-row-background-color;
					}
				}

				tr:hover {
					background-color: $table-row-hover-background-color;
					color: $table-row-hover-color;
				}
			}

			table {
				th {
					text-align: center;
					text-transform: uppercase;
				}
			}

			&.first-column-bold td:first-child {
				font-weight: bolder;
			}

			td {
				color: $cell-text-color;
				&.padding-zero {
					padding: 0;
				}

				&.bold {
					font-weight: bold;
				}

				&.empty-table-row {
					text-align: center;
					font-weight: bold;
				}

				&.image {
					text-align: center;
					padding: 0;

					img {
						max-width: 40px;
						max-height: 40px;
					}
				}
			}

			th {
				&.fixed-width-10 {
					width: 10%;
				}
				&.fixed-width-20 {
					width: 20%;
				}
				&.fixed-width-30 {
					width: 30%;
				}
			}

			/*** single table ***/

			&.single {
				border-radius: 11px;
				border: 1px solid $medium-gray;
				border-spacing: 0;

                thead {
                    tr {
                        background-color: $single-table-header-background-color;
                        color: $single-table-header-color;
                    }

                    tr th {
                        font-size: 1.2em;
                        font-weight: bolder;
                    }
                }
    
                th,
                td {
                    border: 1px solid $medium-gray;
                }
    
                tbody {
                    font-size: 1em;
                    font-weight: 500;
                }
    
                tbody {
                    tr {
						&:nth-of-type(even) {
							background-color: $single-table-even-row-background-color;
                        }
						&:nth-of-type(odd) {
							background-color: $single-table-even-row-background-color;
                        }
						&:hover {
							background-color: $single-row-hover-background-color;
							color: $single-row-hover-color;
						}
                    }
                }
    
			}

            /*** style modifiers ***/
            
            .center-text {
				text-align: center;
			}

			&.no-hover {
				tbody {
					tr {
						&:hover {
							background-color: $table-background-color;
						}
					}
				}
			}

		}

        /*** single table ***/
		&.single {
			display: flex;
			justify-content: center;
		}
	}

    /*** single table ***/
	&.single {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6px;
		border-radius: 35px;
		box-shadow: none;
	}
}
